section.fee-structure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

table{
  border-spacing: 5px;
  width: 100%;
}

thead{
  background: #dcdff6a1;
}

th, tr{
  width: 100%;
}

th{
  min-width: 6rem;
  text-align: center;
  word-wrap: break-word;
}

td{
  word-wrap: break-word;
  hyphens: manual;
}

