div.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem;
}

div.heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
  text-align: center;
}

div.heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
  text-align: center;

}

div.committee-container {
  display: flex;
  flex-direction: column;
}

div.committee-container div.committee-section {
  padding: 1rem 0;
}

div.committee-container div.committee-section div.committee-members-card{
  background:var(--color-footer);
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-family: var(--font-family);

}

.gradient_btn {
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
}

div.committee-heading h2{
  font-family: var(--font-family);
  position: relative;
  margin: 0 auto;
  z-index: -1;
}

div.committee-heading h2::before {
  content: "";
  position: absolute;
  top: 110%;
  width: 40%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: var(--gradient-text);
}